@font-face {
  font-family: "rockwell";
  src: url("../assets/font/ROCK.TTF");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "rockwell";
  src: url("../assets/font/rockwell-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(5, 27, 33);
  text-align: center;
  color: aliceblue;
  font-size: 15px;
  font-family: rockwell;
  margin: 3%;
}

header {
  margin: 7%;
}

#photo {
  width: 60%;
  height: 180px;
  border-radius: 50%;
  background-color: black;
  margin: auto;
}

.presentation {
  margin: 7%;
  text-align: center;
  color: aliceblue;
}
.icone_titre {
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.icone_titre img{
  width: 30px;
  height: 30px;
  margin: 1.5%;
}

h3 {
  font-size: 25px;
  color: rgb(30, 102, 110);
  padding: 5px;
}

.localisation {
  display: flex;
  justify-content: center;
  margin: 4%;
}
.localisation img {
  padding-right: 5%;
}

h4 {
  margin: 2%;
  font-size: 15px;
  /* color:rgb(60, 110, 155); */
  color: rgb(60, 110, 155);
}

.formation {
  margin: 3%;
}

.formation p {
  font-size: 12px;
}

.formation ul {
  text-align: left;
  list-style-type: disc;
  padding-left: 20px;
}

.technical_skill {
  margin: 5% 2% 5% 2%;
  width: 80px;
}

.soft_skill {
  margin: 3%;
  font-size: 20px;
}

@media screen and (min-width: 600px) and (max-width: 1250px) {
  body {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
  }
  .partie_one {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .partie_one_block_one {
    min-width: 50%;
  }
  .formation p {
    font-size: 18px;
  }
  .localisation {
    font-size: 18px;
  }
  .partie_two {
    display: flex;
  }
  .experience {
    font-size: 18px;
  }
  .technical_skill {
    width: 120px;
  }
  .soft_skill {
    display: inline;
    font-size: 18px;
  }
}

@media screen and (min-width: 1250px) and (max-width: 2250px) {
  .partie_zero{
    display: none;
  }
  .partie_one{
    display: none;
  }
  .partie_two{
    display: none;
  }
  .soft_skills_containeur{
    display: none;
  }
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 80px;
  }
}
