@font-face {
  font-family: "rockwell";
  src: url("../assets/font/ROCK.TTF");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "rockwell";
  src: url("../assets/font/rockwell-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(5, 27, 33);
  text-align: center;
  color: aliceblue;
  font-size: 15px;
  font-family: rockwell;
  margin: 3%;
}

header {
  margin-top: 7%;
}

#photo img{
  min-width: 22%;
  height: 180px;
  margin: 4% auto 0% auto;
  border-radius: 50%;
}

.partie_one_block_one {
  margin-bottom: 5%;
}

.partie_icone {
  display: none;
}

.presentation {
  margin: 7%;
  text-align: center;
  color: aliceblue;
}

.icone_titre {
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.icone_titre img{
  width: 30px;
  height: 30px;
  margin: 1.5%;
}

h3 {
  font-size: 25px;
  color: rgb(30, 102, 110);
  padding: 5px;
}

.localisation {
  display: flex;
  justify-content: center;
  margin: 4%;
}
.localisation img {
  padding-right: 5%;
}

h4 {
  margin: 2%;
  font-size: 15px;
  color: rgb(60, 110, 155);
}

.formation {
  margin: 3%;
}

.formation p {
  font-size: 12px;
}

.formation ul {
  text-align: left;
  list-style-type: disc;
  padding-left: 20px;
}

.technical_skill {
  margin: 5% 2% 5% 2%;
  width: 80px;
}

.soft_skill {
  margin: 3%;
  font-size: 20px;
}

.soft_skills_containeur a {
  display: block;
  font-size: 20px;
  padding: 1%;
}

@media screen and (min-width: 600px) and (max-width: 1250px) {
  body {
    font-size: 25px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "partie_one_block_two partie_zero partie_one_block_one"
      "experience soft_skills technical_skill";
  }
  .partie_zero{
    grid-area: partie_zero;
    align-self: center;
  }
  .partie_one_block_one{
    grid-area: partie_one_block_one;
  }
  .partie_one_block_two{
    grid-area: partie_one_block_two;
  }
  .experience {
    grid-area: experience;
    font-size: 18px;
  }
  .soft_skills_containeur {
    grid-area: soft_skills;
  }

  .soft_skills_containeur a {
    display: block;
    font-size: 25px;
    padding: 2%;
  }
  .soft_skill {
    font-size: 25px;
  }
  .technical_skill_containeur {
    grid-area: technical_skill;
  }
  .technical_skill {
    width: 100px;
  }

  #photo img {
    height: 280px;
  }

  h4 {
    font-size: 20px;
  }

  .formation p {
    font-size: 18px;
  }

  .localisation {
    font-size: 18px;
  }

}

@media screen and (min-width: 1250px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "partie_one_block_two partie_zero partie_one_block_one"
      "empty_one partie_icone empty_two"
      "experience soft_skills technical_skill";
  }

  .icone_titre img {
    display: none;
  }

  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 80px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 25px;
  }

  .partie_zero{
    display: none;
    grid-area: partie_zero;
    align-self: center;
  }
  #photo img{
    height: 400px;
    margin-bottom: 5%;
  }
  .partie_zero .presentation{
    font-size: 30px;
  }
  .partie_one_block_one{
    display: none;
    grid-area: partie_one_block_one;
  }

  .partie_one_block_one p {
    font-size: 30px;
  }

  .localisation img {
    width: 30px;
  }
  .localisation p {
    font-size: 30px;
  }
  .localisation a {
    font-size: 30px;
  }
  .formation p {
    font-size: 25px;
  }
  .partie_one_block_two{
    display: none;
    grid-area: partie_one_block_two;
  }
  .experience{
    grid-area: experience;
    display: none;
  }
  .experience li {
    font-size: 20px;
  }
  .technical_skill_containeur{
    grid-area: technical_skill;
    display: none;
  }

  .technical_skill {
    width: 135px;
  }
  .soft_skills_containeur{
    grid-area: soft_skills;
    display: none;
  }

  .soft_skill {
    font-size: 30px;
  }
  .soft_skills_containeur a {
    display: block;
    font-size: 30px;
    padding: 1%;
  }

  .empty_zero {
    grid-area: empty_zero;
  }
  .empty_one {  
    grid-area: empty_one;
  }
  .empty_two {
    grid-area: empty_two;
  }
  .partie_icone {
    grid-area: partie_icone;
    align-self: center;
    transform: translateX(-32.5%);
    display:grid;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    width: 300%;
    height: 450px;
    background-color:rgb(23, 44, 81);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "icone_keyboard icone_webcam icone_micro"
      "icone_usb icone_ordinateur icone_mouse";
  }
  .icone_ordinateur {
    margin: auto;
    width: 200px;
    grid-area: icone_ordinateur;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  .icone_ordinateur:hover {
    transform: translateY(-50%) scale(1.5);
  }

  .icone_keyboard {
    width: 80px;
    grid-area: icone_keyboard;
    justify-self: end;
    align-self: center;
    transform: translateX(-800px);
    display: none;
  }

  .icone_webcam {
    width: 80px;
    transform: translateY(-1500px);
    justify-self: center;
    grid-area: icone_webcam;
    display: none;
  }
  .icone_micro {
    width: 80px;
    align-self: center;
    grid-area: icone_micro;
    transform: translateX(800px);
    display: none;
  }
  .icone_mouse {
    width: 80px;
    grid-area: icone_mouse;
    display: none;
  }
  .icone_usb {
    width: 80px;
    justify-self: end;
    transform: translateX(-800px);
    grid-area: icone_usb;
    display: none;
  }
}
